[%# -*-Makefile-*-
#____________________________________________________________________ 
# Inserted from file: Documentation_template.tmpl
#____________________________________________________________________ 
#  
# Author: Shaun Ashby <Shaun.Ashby@cern.ch>
# Update: 2004-02-11 15:22:37+0100
# Revision: $Id: Documentation_template.tmpl,v 1.4 2007/02/27 11:54:47 sashby Exp $ 
#
# Copyright: 2004 (C) Shaun Ashby
#
#--------------------------------------------------------------------
%]
[% USE subsystem = PluginCore -%]
[% USE common = CustomPlugin(subsystem) -%]
# Subsystem name is [% subsystem.name() %]:
[% safepath %]_subdirs+=[% subsystem.safesubdirs() %]
all_subsystems+=[% subsystem.name() %]
.PHONY: [% safepath %]_all [% safepath %]
[% safepath %]_all: [% safepath %] 
[% subsystem.name() %] [% safepath %]: $([% safepath %]_subdirs)
	@echo ">> Documentation built for $(SCRAM_PROJECTNAME) v$(SCRAM_PROJECTVERSION)"
[% subsystem.name() %]_clean [% safepath %]_clean::
	@echo "Cleaning local working directory, $(LOCALTOP)/$(SCRAM_INTwork)/[% path %]:"; \
	/bin/rm -rf $(LOCALTOP)/$(SCRAM_INTwork)/[% path %]
[% safepath %]_help::
	@echo "Help for building Documentation at [% path %]:"
