[% variables = core.variables() -%]
[% FOREACH variable IN variables -%]
[% IF common.shouldAddToolVariables(variable.key) -%]
[% variable.key %]:=[% variable.value %]
[% END -%]
[% END -%]
[% IF common.shouldAddMakeData() -%]
[% core.data("MAKEFILE") -%]
[% END -%]
